.overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  display: flex;
  background: rgba(58, 54, 54, 0.8);
  justify-content: center;
  align-items: center;
}

.modal img {
  width: 900px;
  height: 600px;
}
